.friend-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}

.friend-list_item {
    display: flex;
    width: 300px;
    gap: 30px;
    padding: 15px;

    background-color: #fff;
    box-shadow: 0px 2px 6px darkgray;
  
    .status {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-top: 12.5px;
  
      &.online {
        background-color: green;
      }
  
      &.offline {
        background-color: red;
      }
    }
  }

.friend-list_name {
    font-family: sans-serif;
    font-size: 26px;
    padding-top: 5px;

    color: #161f30;
}